# {{ ansible_managed }}
[Unit]
Description=gunicorn daemon
After=network.target
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Environment=DOTENV_PATH=/home/gunicorn/.env
PIDFile=/run/gunicorn/pid
User=gunicorn
Group=gunicorn
RuntimeDirectory=gunicorn
ExecStart={{ venv }}/bin/gunicorn --name viime \
                                  --pid /run/gunicorn/pid \
                                  --workers 4 \
                                  --timeout 1000 \
                                  --statsd-host 127.0.0.1:8125 \
                                  --bind 127.0.0.1:8000 viime.wsgi:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
